<div class='intro'>
  <p><strong>They Work For You :: Local</strong> is a proof of concept site to develop a unified way of accessing local authority information.</p>
  <p>At the moment only some local authorities have had parsers written for them, but more are being added, and more information is being added.</p>
  <p>The open-source code behind the site is visible for anyone to see at <%= link_to 'Github', 'http://github.com/CountCulture/twfy_local_parser' %></p>
  <p>Most of the data is accessible as <%= link_to "XML", 'http://en.wikipedia.org/wiki/XML', :class => 'external' %> or <%= link_to "json", 'http://en.wikipedia.org/wiki/JSON', :class => 'external' %> data through a rough and ready API (basically add .xml or .js to then end of the URL)</p>
</div>
<div id="latest_councils">
  <h3>Most recently updated councils</h3>
  <ul>
    <% for council in @councils %>
      <li><%= link_for council %></li>
    <% end %>
  </ul>
</div>