<div class="parser">
  <h3>Parser details</h3>
  <h4>Item parser <em>finds items from scraped page</em></h4>
  <code class="item_parser"><%= h parser.item_parser %></code>
  <h4>Item attribute parser <em>extracts each item's attributes from item</em></h4>
  <%- parser.attribute_parser.each do |attrib_name,code| -%>
    <div class="parser_attribute">
      <div class="title"><%= attrib_name %></div> 
      <div class="info"><code><%= h code %></code></div>
    </div>
  <%- end -%>
  <br class="clear-left" />
</div>