<h1>Councils with scrapers</h1>
<div id="councils">
  <%- for council in @councils -%>
    <%- div_for council do -%>
      <h3><%= link_for council %></h3>
      <ul>
        <%- for scraper_link in scraper_links_for_council(council) -%>
          <li><%= scraper_link %></li>
        <%- end -%>
      </ul>
    <%- end -%>
  <%- end -%>
</div>