log/*.log
log/*.log.*
tmp/**/*
.DS_Store
doc/api
doc/app
db/*.sqlite3
config/initializers/authentication_details.rb
config/initializers/hoptoad.rb
config/database.yml
config/deploy.rb
config/nginx_production.conf
Capfile
