<h1>Admin area</h1>
<h2>Common Actions</h2>
<ul>
  <li><%= link_to "All scrapers", scrapers_path %></li>
  <li><%= link_to "All councils (including unparsed)", councils_path(:include_unparsed => true) %></li>
  <li><%= link_to "All datasets", datasets_path %></li>
</ul>
