/*Global formats*/
/*See also blueprint styles*/
h1 {font-size: 2em;}

a {text-decoration: none;}
a:hover {text-decoration: underline;}

label { 
	float: left; 
	width: 12em;
	clear: left; }
h1 em, h2 em, h3 em, h4 em, label em { 
	color: #9e9e9e;
	font-size: .6em;
	vertical-align:top;
	font-style: normal; }
input, textarea {
	border:1px solid #515151;
	margin-bottom:0.5em;
	margin-right:0.5em; }
.clear-left {
	clear:left; }
div.title {
	font-weight: bold; }
p.attribution {
	clear:both;
	text-align: right; }
.extra_info {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	padding:4px;
	width: 100%;
	overflow: auto;
}
a.external {
	background: transparent url(../images/ext_link.gif) no-repeat scroll right center;
	padding-right:10px; }
a.external:hover {
	background: transparent url(../images/ext_link_hover.gif) no-repeat scroll right center;
	padding-right:10px; }
	
a.feed {
	background: transparent url(../images/feed_icon.gif) no-repeat scroll right center;
	margin-right:2px;
	padding-right:18px; }
a.new {
	padding-left: 24px;
	background: transparent url(../images/new_flash.gif) no-repeat left;}
a.updated {
	padding-left: 46px;
	background: transparent url(../images/updated_flash.gif) no-repeat left;}
a.stale {
	color: #740;
}
a.problem {
	color: #a11;
}
a.problem:before, a.stale:before {
	text-transform: uppercase;
	color:#fff;
	font-size:.8em;
	padding: 1px 3px;
	margin-right: 3px;
}
a.stale:before {
	content: "Stale";
	background-color:#740;
}
a.problem:before {
	content: "Problem";
	background-color:#a11;
}
a.button {
	border:1px solid #ddd;
}
p.more_info {
	text-align:right;
	font-style: italic; 
}
.more_info a:after {
	content: "»"; }
	
/*General template format*/
body { 
	background-color:#ddd; }
.container {
	background-color:#fff; 
	padding: 18px;
	padding-bottom: 0px;
	margin-top: 18px;}
#content {
	min-height: 600px; }
#header { padding: 6px 0;
	border-bottom: #036 solid 3px;
	margin-bottom: 9px;}	
#header h2 { 
	margin: 0; }	
#header h2 a { 
	text-decoration: none;
	color: #69b; }	
#header h2 em { 
	color: #036;
	font-size:100%; }	
#footer {
	margin-top:18px;
	text-align:right;
	clear:both;
}
#share_block {
	text-align:right;}
/*Council document formatting*/
#document_body {
	border: 1px solid #ddd;
	padding: 12px;
	background-color: #eeefff;
	font-family: Times New Roman;}
#document_body h1 {
	font-size: 1.8em;}
#document_body h2 {
	font-size: 1.6em;}
#document_body h3 {
	font-size: 1.4em;}
#document_body p {
	margin: 0;}
/*Council formatting*/
a.unparsed {
	color:#9e9e9e; }
#data .attribute {
	float:left;
	width:50%; 
	}
#data .attribute strong {
	float: left;
	width: 10em;
}
.extra_info .notes h4 {
	float: left;
	width: 5em;
}
div.item_grouping {
float: left;
width: 300px;	
padding-right: 20px;}
div.item_grouping h3 {
	border-bottom: 1px solid #036;
}
/*Parser-specific formatting*/
div.item_attribute {
	clear:left; }
div.item_attribute p {
	float:left; }
div.parser {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	padding: 1.48em;
	margin-bottom: 1.5em; }
div.parser h4 {
	margin-bottom: 0; }
div.parser_attribute {
	clear:left; }
div.parser_attribute div {
	float:left; }
div.parser_attribute .title {
	width: 8em;
	text-align: right;
	margin-right: 1em; }
div.parser code.item_parser {
	margin-left: 9em; }
	
div.new, .changed {
	border:2px solid #DDDDDD;
	margin-bottom:1em;
	padding:0.8em;
	}
.changed {
	background:#FFF6BF;
	border-color:#FFD324;
	}
div.new {
	background:#E6EFC2;
	border-color:#C6D880;
	}
div.unchanged {
	margin-bottom: .5em; }
.unchanged, .unchanged a {
	color: #515151; }
.unchanged h4 { 
	color: #282828;
	margin-bottom: 0; }
span.flash {
	border:none;
	color:#fff;
	padding: 3px 6px;
	float:right; }	
span.new {
	background-color:#264409; }	
span.changed {
	background-color:#514721; }	
span.error {
	background-color:#8a1f11; }	
/*Scraper-specific formatting*/
a.new_scraper_link {
	color:#9e9e9e; }
