<div id="datapoints">
  <h4>Statistics</h4>
  <%- for datapoint in @datapoints -%>
    <%- div_for datapoint do -%>
      <div class="citation"><%= link_to datapoint.dataset.title, datapoint.dataset %></div>
      <%= datapoint.summary[0] %> <strong><%= datapoint.summary[1] %></strong> 
      <%= link_to "more data", data_dataset_path(:id => datapoint.dataset, :council_id => @council.id), :class => "more_info" %>
    <%- end -%>
  <%- end -%>
</div>
