<div id="share_block">
  <p>share this</p>
  <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#publisher=eb21026c-8c10-4518-b7c9-d612cc42b863&amp;type=website&amp;style=rotate"></script>
</div>
