<h1><%= @parser.title %></h1>
<p><%= link_to "All Scrapers", scrapers_path %></p>
<%= render :partial => 'parser', :object => @parser %>

<% unless @scrapers.blank? %>
  <h3>Scrapers</h3>
  <ul id="scrapers">
    <% for scraper in @scrapers %>
      <li><%= link_for scraper %></li>
    <% end %>
  </ul>
<% end %>
